// =============================================================================
// VARIABLES.SCSS / EMAIL SPECIFIC VARIABLES 
// =============================================================================

// FONT FAMILY
// -----------------------------------------------------------------------------

$font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;

// FONT SIZES 
// -----------------------------------------------------------------------------

$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-md: 18px;
$font-size-sm: 14px;
$font-size-xs: 12px;

// WRAPPER DIMENS
// -----------------------------------------------------------------------------

$email-max-width: 600px;
$email-min-height: 1000px;
