%table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
  %tr
    %th
      %img{:src => "http://placehold.it/296x600"}
    %td.align-top
      %h3 Ordering outdoor services has never been simpler!
      %h3.head-space 1. List Item 1
      %p Details here
      %h3.head-space 2. List Item 2
      %p Details here
      %h3.head-space 3. List Item 3
      %p Details here
