%table.footer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
  %tr
    %th &nbsp;
    %th &nbsp;
    %th
      %img{:src => "http://placehold.it/25x25"}
    %th
      %img{:src => "http://placehold.it/25x25"}
    %th &nbsp;
    %th &nbsp;
%table.footer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}

  %tr
    %th This email was sent to \#{{recipientEmailAddress}}
%table.footer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
  %tr
    %th
      %a{:href => "#"} Why did I get this?
    %th
      %a{:href => "#"} Unsubscribe from this list
    %th
      %a{:href => "#"} Update subscription preferences
%table.footer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
  %tr
    %th
      %p #{{yourAddressHere}}
%table.footer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
  %tr
    %th
      %img{:src => "http://placehold.it/150x50"}
