%center.full-page-break
%table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
  %tr
    %th
      %img{:src => "http://placehold.it/100x100"}
    %th
      %h3 Need Help?
      %p.head-space Our community managers are here to answer your questions. To get in touch head to our
      %a{:href => "#"} support page.

-# CAN'T OUTPUT PERIOD TO HAML WITHOUT EMPTY SPACE
-# -----------------------------------------------------------------------------
-#        %span
-#         :plain
-#           .
-#
-# -----------------------------------------------------------------------------
