!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Invoices or receipts
    %link{:href => "css/styles.css", :rel => "stylesheet"}/
  %body
    %h1 hello, world
    %h1 hello, world
